/* Start style apllication pages */
.application-page {
  background-image: url(../images/Arab-Business.-HQ-Picture-152.png);
  background-color: #eeeeee;
  padding: 40px 0;
  h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
  }
  .apply-form {
    background: #fff;
    padding: 50px;
    form {
      .form-group {
        margin-bottom: 30px;
      }
      input ,textarea {
        height: 45px;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #ccc;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #ccc;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #ccc;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #ccc;
        }
      }
      textarea{
        height: 200px;
      }
      label {
        color: #414141;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        span {
          color: #f96922;
        }
      }
      button {
        background: var(--main-color);
        color: #fff;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        padding: 10px 60px;
        margin-top: 50px;
        overflow: hidden;
        position: relative;
        span{
          position: relative;
          z-index: 212;
        }
        &:after{
          position: absolute;
          content: '';
          background: var(--second-color);
          height: 100%;
          left: -35%;
          top: 0;
          transform: skew(50deg);
          transition-duration: 0.6s;
          transform-origin: top left;
          width: 0;
          z-index: 0;

        }
        &:hover{
          background: transparent;
          span{
            color: #fff
          }
          &:after{
            height: 100%;
            width: 135%;
          }
        }
      }
    }
  }
}

@media (max-width:550px){
  .application-page h2{
    font-size: 25px;
  }
  .application-page .apply-form form label{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .application-page .apply-form form input{
    height: 35px;
  }
  .application-page .apply-form form .form-group{
    margin-bottom: 20px;
  }
}
/* End style apllication pages */