/* Start header Section styles */
.header {
  .header-top {
    background: var(--second-color);
    .header-top-inner {
      display: flex;
      align-items: center;
      .email {
        h6 {
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.8px;
          margin-bottom: 0;
        }
      }
      .language-switcher {
        .dropdown {
          margin-right: 20px;
          button {
            background: transparent;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
          }
          .dropdown-menu {
            min-width: 50px;
          }
        }
      }
      .social-icons {
        ul {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          list-style: none;
          li {
            a {
              color: #fff;
              display: block;
              padding: 15px 10px;
              transition: all 0.5s;
              &:hover{
                color: var(--main-color)
              }
            }
          }
        }
      }
    }
  }
  .main-header {
    background-image: url(../images/fouloss.png);
    .overlay {
      background: rgba(6, 15, 58, 0.6);
    }
    .nav {
      .navbar-expand-lg {
        padding: .5rem 0;
        .navbar-brand {
          color: var(--main-color);
          font-size: 25px;
          font-weight: 700;
          margin-right: 0;
        }
        .navbar-toggler {
          color: #fff;
          outline: 0;
        }
        width: 100%;
        .navbar-nav {
          .nav-link {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 16.8px;
            padding: 15px 15px;
            &:hover {
              color: var(--main-color);
            }
            &.active{
              color: var(--main-color);
            }
          }
        }
      }
    }
    .slider {
      height: 500px;
      display: flex;
      align-items: center;
      .item {
        p {
          color: #ffffff;
          font-family: Cairo;
          font-size: 24px;
          font-weight: 700;
          line-height: 46px;
        }
      }

      .owl-dots {
        display: flex;
        justify-content: center;
        button {
          width: 15px;
          height: 15px;
          border: 1px solid #ffffff;
          border-radius: 50%;
          margin: 0 5px;
          transition: all 0.5s;
          outline: 0;

          &.active {
            background-color: #f96922;
          }
          &:hover {
            background-color: rgba(249, 105, 34, 0.5);
          }
        }
      }
      .owl-nav {
        button {
          width: 32px;
          height: 32px;
          border: 1px solid #959595;
          background-color: #ffffff;
          position: absolute;
          top: 25%;
          transform: translateY(-50%);
          border-radius: 50%;
          transition: all 0.5s;
          outline: 0;
          span {
            font-size: 30px;
            line-height: 20px;
          }
          &:hover {
            background: var(--main-color);
            border-color: var(--main-color);
            color: #fff;
          }
          &.owl-next {
            left: -5%;
          }
          &.owl-prev {
            right: -5%;
          }
        }
      }
    }
    &.pages {
      background: #fff;
      .overlay {
        background: none;
      }
      .nav {
        .navbar-toggler{
          color: #000
        }
        .navbar-nav {
          .nav-link {
            color: #555;
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .header .header-top .header-top-inner .email h6 {
    font-size: 12px;
  }
  .header .header-top .header-top-inner .social-icons ul li a {
    padding: 15px 5px;
  }
  .header .main-header .slider .item p {
    font-size: 15px;
    text-align: center !important;
  }
  .header .main-header .slider {
    height: 410px;
  }
  .header .main-header .nav .navbar-expand-lg .navbar-brand {
    font-size: 17px;
  }
  .header .main-header .slider .owl-nav button {
    width: 23px;
    height: 23px;
  }
  .header .main-header .slider .owl-nav button span {
    font-size: 20px;
    line-height: 15px;
  }
  .header .main-header .slider .owl-nav button.owl-prev {
    right: -5%;
}
}
@media (min-width: 360px) and (max-width:550px) {

  .header .main-header .slider .item p {
    font-size: 18px;
    text-align: center !important;

  }
  .header .main-header .slider {
    height: 410px;
  }
  .header .main-header .nav .navbar-expand-lg .navbar-brand {
    font-size: 17px;
  }
  .header .main-header .slider .owl-nav button {
    width: 23px;
    height: 23px;
  }
  .header .main-header .slider .owl-nav button span {
    font-size: 20px;
    line-height: 15px;
  }
  .header .main-header .slider .owl-nav button.owl-prev {
    right: -5%;
}
}
@media (min-width: 550px) and (max-width:850px) {

  .header .main-header .slider .item p {
    font-size: 20px;
    text-align: center !important;

  }
  .header .main-header .slider {
    height: 410px;
  }
  .header .main-header .nav .navbar-expand-lg .navbar-brand {
    font-size: 17px;
  }



}
@media(max-width:991px){
  .header .main-header .nav .navbar-expand-lg .navbar-nav{
    background: rgba(6, 15, 58, 0.6);
    padding: 20px;
    text-align: right;
  }
  .header .main-header.pages .nav .navbar-nav .nav-link{
    color: #fff
  }
}

/* End header Section styles */
